body{
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("/src/images/bg.png");
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather Sans', sans-serif;
}

#iphone{
    width: 350px;
    height: 728px;
    position: fixed;
    background-image: url("/src/images/iphone.png");
    right: 150px;
    top: 50px;
    z-index: 2;
}

.main{
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
    color: #000;
    height: 500px;
    background-color: transparent;
}

.screen{
    width: 295px;
    height: 443px;
    position: fixed;
    z-index: 3;
    right: 176px;
    top: 175px;
}

.footer{
    padding: 20px;
    width: 100%;
    background-color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.feature{
    height: 300px;
    margin-bottom: 200px;
}

.page{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    padding: 40px;
    width: 100%;
    min-height: 300px;
    text-align: left;
    margin-bottom: 0;
}

.page h1, h2, h3, h4, h5{
    margin-bottom: 25px;
}

.feature h2{
    line-height: 150px;
}

.no-color{
   background-color: transparent;
}

.yellow {
    background-color: #F3C242;
}

.blue{
    background-color: #0095b3;
}

.green {
    background-color: #34b489;
}

.red{
    background-color: #e44442;
}

.black{
    background-color: #2a2a2a;
}

.white{
    color: #000000;
    background-color: #ffffff;
}

.purple{
    background-color: #8849ae;
}

a{
    color: #ffffff;
}

a:hover{
    color: #ffffff;
}

.reallyHide{
    display: none !important;
}

.question{
    font-weight: bold;
}
.answer{
    list-style-type:none;
    font-size: 16px;
}

.social-container p{
    text-align: center;
    padding-right: 20px;
}

.social-icon{
  font-size: 60px;
  margin-right: 10px;
}

a.social-icon-link{
    color: #ffffff;
}

a.social-icon-link:hover{
   text-decoration: none;
    color: #34b489;
}